* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff6f4;
  height: calc(100vh - 200px);
  padding: 40px;
}

/* Photo container */
.loginPhoto {
  max-width: 375px;
  max-height: 600px;
  background-color: #fff6f4;
  outline: none;
  border: none;
  border-radius: 20px;
}

/* User login photo */
.orange {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0,.7);
}


/* Agency login photo */
.orangeAgent{
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0,.7);
}


.loginForm {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0,.7);
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 557px;
  background-image: radial-gradient(circle, #cae8f2, #6fcce8);
  max-width: 375px; 
  width: 100%; 
  min-width: 350px;
  margin-left: 20px; 
}
.loginForm input {
  width: 270px;
  height: 60px;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  background-color: #fff6f4;
  font-size: 16px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  font-family: 'Montserrat Alternates', sans-serif;
}

/* Log in submit button */

.loginForm button {
  
  cursor: pointer;
  width: 270px;
  height: 60px;
  border-radius: 15px;
  padding: 16px;
  margin: 15px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: radial-gradient(circle, #ffa41b, #f87f22);
  font-size: 24px;
  font-weight: bold;
  color: #fff6f4;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.loginForm button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 16px;
  right: 10px;
  transition: 0.6s;
  
}

.loginForm button:hover{
  
  padding-right: 20px;
  padding-left:0px;
  background-image: radial-gradient(circle, #ffa41b 50%, #f87f22);
}

.loginForm button:hover:after {
  opacity: 1;
  right: 70px;
  
}

/* Log in form header */
.loginForm h2 {
  
  color: #f87f22;
  margin-bottom: 50px;
  margin-top: 60px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 32px;
  
}

.loginForm .link{
  color: #f86f03;
  font-family: 'Montserrat Alternates', sans-serif;
  
}

/* #fe7b2f */
/* CAE8F2 */
/* #84D2E9 */
/* 7FCFE8 */

/* Sign up */

.newUserForm{
  display: flex;
  border-radius: 20px;
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0,.7);
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 557px;
  background-image: radial-gradient(circle, #cae8f2, #6fcce8);
  max-width: 375px; 
  width: 100%; 
  min-width: 350px;
  margin-left: 20px;
}

.newUserForm input{
  width: 270px;
  height: 60px;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  background-color: #fff6f4;
  font-size: 16px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  font-family: 'Montserrat Alternates', sans-serif;
}
.newUserForm button {
  
  cursor: pointer;
  width: 270px;
  height: 60px;
  border-radius: 15px;
  padding: 16px;
  margin: 15px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: radial-gradient(circle, #ffa41b, #f87f22);
  font-size: 24px;
  font-weight: bold;
  color: #fff6f4;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.newUserForm button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 16px;
  right: 10px;
  transition: 0.6s;
  
}

.newUserForm button:hover{
  
  padding-right: 20px;
  padding-left:0px;
  background-image: radial-gradient(circle, #ffa41b 50%, #f87f22);
}

.newUserForm button:hover:after {
  opacity: 1;
  right: 70px;
  
}

/* Sign up form header */
.newUserForm h2 {
  
  color: #f87f22;
  margin-bottom: 30px;
  margin-top: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  
}

/* Agent sign up */

.newAgentForm{
  display: flex;
  border-radius: 20px;
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0,.7);
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 557px;
  background-image: radial-gradient(circle, #cae8f2, #6fcce8);
  max-width: 750px; 
  width: 100%; 
  min-width: 600px;
  margin-left: 20px;
}

.newAgentForm input, textarea{
  width: 270px;
  height: 60px;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  background-color: #fff6f4;
  font-size: 16px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  font-family: 'Montserrat Alternates', sans-serif;
}
.newAgentForm button {
  
  cursor: pointer;
  width: 270px;
  height: 60px;
  border-radius: 15px;
  padding: 16px;
  margin: 15px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: radial-gradient(circle, #ffa41b, #f87f22);
  font-size: 24px;
  font-weight: bold;
  color: #fff6f4;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.newAgentForm button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 16px;
  right: 10px;
  transition: 0.6s;
  
}

.newAgentForm button:hover{
  
  padding-right: 20px;
  padding-left:0px;
  background-image: radial-gradient(circle, #ffa41b 50%, #f87f22);
}

.newAgentForm button:hover:after {
  opacity: 1;
  right: 70px;
  
}
.signUpDetails{
  display: flex;
  align-items: start;
}

#agencyDescription{
  height: 120px;

}

.newAgentForm h2 {
  
  color: #f87f22;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  text-align: center;
  
}

