.agencyGrid {
  display: grid;
  grid-template-columns: minmax(600px, 800px);
  width: auto;
  background-image: linear-gradient(#8ecde1, #8ecde1);
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 0px;
  padding: 20px;
  row-gap: 30px;
}
.agencyCardContainer {
  display: flex;
  background-image: linear-gradient(45deg, #c3d6dc, #fff6f4);
  border-radius: 24px;
  height: 332px;
  width: 900px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.186);
}
.cardButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cardButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  /* padding: 16px; */
  margin: 10px;
  
  font-family: "Montserrat Alternates", sans-serif;
  background-image: radial-gradient(circle, #ffa41b, #f87f22);
  color: #fff6f4;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.5s;
}

.cardButtons button:hover {
  background-image: radial-gradient(circle, #ff581b 50%, #fd3b14);
}
#editButton:hover {
  background-image: radial-gradient(circle, #34b8e0 50%, #00a7da);
}

.cardButtons button svg {
  transition: transform 0.5s ease;
  transform: scale(1);
}

.cardButtons button:hover svg {
  transform: scale(1.5);
}

.linkToAdd a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
  color: #f87f22;
  padding: 6px;
  min-width: 120px;
}

.linkToAdd a:hover {
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.186);
  background-color: #6fcce8;
  border-radius: 8px;
}
