/* Update Form */


.editingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .editingOverlay.active {
    display: block;
  }
  
  .editingWindow {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1100;
  }
.updatePropertyForm {
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-top: 50px;
  padding: 50px;
  max-height: 700px;
  background-image: linear-gradient(45deg, #c3d6dc, #fff6f4);
  max-width: 400px;
  min-width: 350px;
  margin-left: 30px;
}
.updatePropertyForm h3 {
  color: #f87f22;
  margin-bottom: 10px;
}

.updatePropertyForm input {
  background-color: #fff6f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.186);
  margin-bottom: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 8px;
  padding: 16px;
}

.updatePropertyForm button {
  margin-top: 10px;
  cursor: pointer;
  width: 300px;
  height: 60px;
  border-radius: 8px;
  padding: 16px;

  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  background-image: radial-gradient(circle, #ffa41b, #f87f22);
  font-size: 24px;
  font-weight: bold;
  color: #fff6f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.186);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.updatePropertyForm button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 16px;
  right: 10px;
  transition: 0.6s;
}
.updatePropertyForm button:hover {
  padding-right: 20px;
  padding-left: 0px;
  background-image: radial-gradient(circle, #ffa41b 50%, #f87f22);
}
.updatePropertyForm button:hover:after {
  opacity: 1;
  right: 70px;
}
