.newPropertyFormContainer {
  display: flex;
  justify-content: center;
  background-image: radial-gradient(circle, #cae8f2, #6fcce8);
  height: 100vh;
}

.newPropertyForm {
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  padding: 50px;
  max-height: 700px;
  background-image: linear-gradient(45deg, #c3d6dc, #fff6f4);
  max-width: 750px;
  min-width: 400px;
  margin-left: 30px;
}

.formPairs{
    display: flex;
    /* justify-content: space-between; */
    
}
.formDetail{
display: flex;
flex-direction: column;
margin-right: 15px;
margin-left: 15px;
}

.newPropertyForm h3 {
  color: #f87f22;
  margin-bottom: 10px;
  margin-left: 15px;
}

.newPropertyForm input {
  background-color: #fff6f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.186);
  margin-bottom: 10px;
  font-size: 16px;
  width: 300px;
  height: 64px;
  border-radius: 8px;
  padding: 16px;
}

.newTitle {
  height: 64px;
  font-size: 16px;
}

#newDate {
  width: 150px;
}
.newPropertyForm button {
  margin-top: 10px;
  /* transition: all 0.5s; */
  cursor: pointer;
  width: 300px;
  height: 60px;
  border-radius: 8px;
  padding: 16px;
  margin-left: 15px;

  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  background-image: radial-gradient(circle, #ffa41b, #f87f22);
  font-size: 24px;
  font-weight: bold;
  color: #fff6f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.186);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.newPropertyForm button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 16px;
  right: 10px;
  transition: 0.6s;
}
.newPropertyForm button:hover {
  padding-right: 20px;
  padding-left: 0px;
  background-image: radial-gradient(circle, #ffa41b 50%, #f87f22);
}
.newPropertyForm button:hover:after {
  opacity: 1;
  right: 70px;
}

.newPhoto {
color: #f87f22;

}


   