.homeBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: linear-gradient( to top,#8ecde1, #2ec4f1);   
}

.homeHeader{
    margin-top: 15px;
    background-image: radial-gradient(circle, #ffa41b, #fa7007);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 0 10px;
    border-radius: 24px;
}

.sliderContainer{
    
    display: grid;
    margin: auto;
    position: relative;
    height: 300px;
    width: 50%;
    overflow: hidden;
    place-items: center;
    padding: 10px;
    background-image: radial-gradient(circle, #ffffff, #dcdcdc); 
    box-shadow: 0px 0px 15px 3px inset rgba(0, 0, 0,.7);
    border-radius: 24px;
    margin-top:10px;
    margin-bottom: 10px ;
}
.sliderContainer a{
    text-decoration: none;
}
.slideBand {
    display: flex;
    width: calc(450px * 8);
    animation: scroll 40s linear infinite;
}
.slideBand:hover{
    animation-play-state: paused ;
}
@keyframes scroll {
    0%{
        transform: translateX(0) ;
    }
    100%{
        transform: translateX(calc(-250px*3));
    }
}

.sliderEach{
    height: 250px;
    width: 350px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    margin: 5px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items:space-between ; */
    justify-content: space-between;
    padding: 20px;
    perspective: 100px;
}


.sliderEach img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    /* overflow: hidden; */
    /* height:max-content; */
    transition: 1s;
}
.sliderEach img:hover{
    transform: translateZ(20px);
}

.subSlide{
    display: flex;
    justify-content: space-around;
    color: #fa7007;
    
}